<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>HalKhata</title>
</head>

<body>


    <header>
        <div class="nav-bar">
            <nav>
                <div class="logo">
                    <a href="#">Hal<span>khata</span></a>
                </div>
                <ul id="primary-nav">
                    <li class="selected"><a class="nav-link" href="#">Activity</a></li>
                    <li><a href="#" class="nav-link">Meal</a></li>
                    <li><a href="#" class="nav-link">Spending</a></li>
                    <li><a href="#" class="nav-link">Coding</a></li>
                </ul>
                <!-- secondary-nav -->
            </nav>
        </div>
    </header>

    <!--page-body-->
    <div class="container">
        <section>

            <div class="heading">
                <p class="date">date: Monday 11/12/2021</p>
                <h1 class="title">Workout</h1>
            </div>
            <div class="info">
                <h2 class="main-info-value">Full Body</h2>
                <p class="main-info-type">Muscles Activated</p>
            </div>
            <div class="info">
                <h2 class="main-info-value">335 Cal</h2>
                <p class="main-info-type">Calories Burned</p>
            </div>
            <div class="info">
                <h2 class="main-info-value">30 min</h2>
                <p class="main-info-type">Duration</p>
            </div>
        </section>

        <table class="exercises">
            <tr>
                <th>Exercise</th>
                <th>Reps</th>
                <th>Sets</th>
            </tr>

            <tr>
                <td>Push Ups</td>
                <td>15</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Push Ups</td>
                <td>15</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Push Ups</td>
                <td>15</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Push Ups</td>
                <td>15</td>
                <td>3</td>
            </tr>

        </table>
    </div>



    </section>
    </div>
    <!--end page body-->
</body>

</html>