<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>HalKhata</title>
</head>

<body>


    <header>
        <div class="nav-bar">
            <nav>
                <div class="logo">
                    <a href="#">Hal<span>khata</span></a>
                </div>
                <ul id="primary-nav">
                    <li class="selected"><a class="nav-link" href="#">Activity</a></li>
                    <li><a href="#" class="nav-link">Meal</a></li>
                    <li><a href="#" class="nav-link">Spending</a></li>
                    <li><a href="#" class="nav-link">Coding</a></li>
                </ul>
                <!-- secondary-nav -->
            </nav>
        </div>
    </header>
    <div class="container">
        <section class="select-type">
            <p>Please select the type of your activity:</p>
            <a href="#"id="workout" ><h1 class="title">workout</h1></a>
            <a href="#"id="ride" ><h1 class="title">ride</h1></a>
            <a href="#"id="run" ><h1 class="title">run</h1></a>
            <a href="#"id="walk" ><h1 class="title">walk</h1></a>
        </section>
    </div>
</body>

</html>