<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>HalKhata</title>
</head>

<body>


    <header>
        <div class="nav-bar">
            <nav>
                <div class="logo">
                    <a href="#">Hal<span>khata</span></a>
                </div>
                <ul id="primary-nav">
                    <li class="selected"><a class="nav-link" href="#">Activity</a></li>
                    <li><a href="#" class="nav-link">Meal</a></li>
                    <li><a href="#" class="nav-link">Spending</a></li>
                    <li><a href="#" class="nav-link">Coding</a></li>
                </ul>
                <!-- secondary-nav -->
            </nav>
        </div>
    </header>

    <!--page-body-->
    <div class="container">
        <section>
            <div class="cta-section">
                <form action="#">
                    <label for="jump-to-date">Jump to date:</label>
                    <input class="date" type="date">
                    <input type="submit">
                </form>

                <a href="#" class="cta-btn">
                    +ADD ACTIVITY
                </a>
            </div>
            <!--end cta section-->


            <ul class="activity-list">
                <li class="activity"><a href="#">
                        <p class="date">date: Monday 11/12/2021</p>
                        <h1 class="title">Workout</h1>
                        <div class="info">
                            <h2 class="main-info-value">Full Body</h2>
                            <p class="main-info-type">Muscles Activated</p>
                        </div>
                    </a>
                </li>

                <li class="activity"><a href="#">
                        <p class="date">date: Monday 11/12/2021</p>
                        <h1 class="title">cycling</h1>
                        <div class="info">
                            <h2 class="main-info-value">56.5 Km</h2>
                            <p class="main-info-type">Distance</p>
                        </div>
                    </a>
                </li>

                <li class="activity"><a href="#">
                        <p class="date">date: Monday 11/12/2021</p>
                        <h1 class="title">Workout</h1>
                        <div class="info">
                            <h2 class="main-info-value">Full Body</h2>
                            <p class="main-info-type">Muscles Activated</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!--end activity list-->

        </section>
    </div>
    <!--end page body-->
</body>

</html>