<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <title>HalKhata</title>
</head>

<body>


    <header>
        <div class="nav-bar">
            <nav>
                <div class="logo">
                    <a href="#">Hal<span>khata</span></a>
                </div>
                <ul id="primary-nav">
                    <li class="selected"><a class="nav-link" href="#">Activity</a></li>
                    <li><a href="#" class="nav-link">Meal</a></li>
                    <li><a href="#" class="nav-link">Spending</a></li>
                    <li><a href="#" class="nav-link">Coding</a></li>
                </ul>
                <!-- secondary-nav -->
            </nav>
        </div>
    </header>

    <!--page-body-->
    <div class="container">
        <section class="ride">

            <div class="heading">
                <p class="date">date: Monday 11/12/2021</p>
                <h1 class="title">Workout</h1>
            </div>
            <div id="distance" class="info">
                <h2 class="main-info-value">66.5 km</h2>
                <p class="main-info-type">Distance</p>
            </div>
            <div id="avg_speed" class="info">
                <h2 class="main-info-value">16.3 km/h</h2>
                <p class="main-info-type">Avg. Speed</p>
            </div>
            <div id="duration" class="info">
                <h2 class="main-info-value">30 min</h2>
                <p class="main-info-type">Duration</p>
            </div>
            <div id="elev_gain" class="info">
                <h2 class="main-info-value">130 m</h2>
                <p class="main-info-type">Elev. Gained</p>
            </div>
            <div id="cal_burn" class="info">
                <h2 class="main-info-value">335 Cal</h2>
                <p class="main-info-type">Calories Burned</p>
            </div>
            
        </section>
    </div>



    </section>
    </div>
    <!--end page body-->
</body>

</html>